node_modules
env
.DS_Store
dist
build
.vscode
.idea
*.log
*.env
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.lock-wscript   
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej   
*.class
*.jar
*.war
*.ear
*.iml
*.ipr

